footer {
  position: relative;
  bottom: 0;
  margin: 9rem auto 3rem auto;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  p {
    color: $secondary-color;
  }
}
