$secondary-color: rgba(255, 255, 255, 0.55);
$background: #191c24;
$background2: rgb(33,37,41);
$accent-color: #0090e7;

body {
    background: #000;
    overflow-y: scroll
}

.transition-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.transition-fade.active {
    opacity: 1;
}
  
@import "./bootstrap.min.css";

@import "./components/Navbar/Navbar.scss";
@import "./components/Footer/Footer.scss";
@import "./pages/Report/report.scss";
@import "./pages/Report/Record Report/Popup Recorder.scss";
@import "./pages/Log In/Log In.scss";
@import "./pages/Sign Up/Sign Up.scss";
@import "./pages/Submit Report/Submit Report.scss";
@import "./pages/Settings/Settings.scss";
@import "./pages/Students/Students.scss";
@import "./pages/Students/New Students/New Students.scss";
@import "./pages/Students/Students List/Students List.scss";
@import "./components/Dialog Box/DialogBox.scss";
@import "./components/Toast/Toast.scss";


